@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.chart-outer-wrapper {
    overflow-x: auto;
}

.chart-inner-wrapper {
  height: 100%;
}

.chart-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: rgb(39, 39, 39);
}

/* #myChart {
  height: 100%;
} */