.scores {
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: rgb(17, 17, 17);
}

.scores h2 {
    margin: 0;
    text-align: center;
}

.scores button {
    border: none;
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(148, 148, 148);
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.scores button:hover {
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
}