.App {
  display: grid;
  grid-template-columns: 14.5% 85.5%;
  grid-template-rows: 7.5% 52.5% 40%;
  grid-template-areas: 
  "names title"
  "names graph"
  "names flat";
  height: 100vh;
  background-color: rgb(31, 31, 31);
  color: white;
}

.lds-spinner {
  grid-area: graph;
}

.App h1 {
  color: white;
}

.scores {
  grid-area: names;
}

.chart-title {
  grid-area: title;
}

#myChart {
  grid-area: graph;
}

#embed-container {
  grid-area: flat;
}

